[submodule "eclipse-checkstyle"]
	path = eclipse-checkstyle
	url = ssh://aur@aur4.archlinux.org/eclipse-checkstyle.git
[submodule "java-asm"]
	path = java-asm
	url = ssh://aur@aur4.archlinux.org/java-asm.git
