[Unit]
Description=STUN and TURN Relay Server for VoIP and WebRTC
After=network.target

[Service]
User=turnserver
Group=turnserver
ExecStart=/usr/bin/turnserver -c /etc/turnserver.conf -o -v
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
